/* Подключение шрифтов */

@font-face {
    font-family: Gelasio;
    src: url("../fonts/Gelasio/Gelasio-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-medium";
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

/* CSS Reset styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* CSS Reset styles */

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.default-button {
    display: block;
    width: max-content;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #1B75BB;
    border-radius: 5px;
    border: 1px solid #1B75BB;
    transition: all .3s;
}

.default-button:hover {
    color: #1B75BB;
    background-color: #fff;
    transition: all .3s;
}

/* START HEADER STYLES */

.header {
    background-image: url("../images/header-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header * {
    font-family: Gelasio, sans-serif;
    font-size: 16px;
}

.header .header-top {
    margin-bottom: 78px;
}

.header .header-top,
.header .header-left-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-nav {
    width: 100%;
}

.header .header-nav-link {
    font-size: 16px;
    padding: 10px 20px;
    line-height: 150%;
    color: #081F32;
    opacity: 0.7;
    text-decoration: none;
    transition: all .3s;
}

.header .header-nav-link:hover {
    color: #1B75BB;
    opacity: 1;
    transition: all .3s;
}

.header .header-subtitle {
    margin-bottom: 15px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B75BB;
    opacity: 0.8;
}

.header .read-more {
    font-family: Roboto, sans-serif;
}

.header .header-title {
    margin-bottom: 25px;
    font-family: Gelasio, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 57px;
    line-height: 120%;
    color: #081F32;
}

.header .header-description {
    margin-bottom: 30px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #081F32;
    opacity: 0.6;
}

.header .header-title span {
    font-family: 'Gelasio', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 57px;
    line-height: 120%;
    color: #1B75BB;
}

.header-choose-room {
    position: relative;
    top: 60px;
    left: -35px;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 24px 49px;
    background: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(35px);
    border-radius: 10px;
}

.header-choose-room > div {
    position: relative;
    margin-right: 56px;
}

.header-choose-room > div > div:first-child {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #081F32;
}

.header-choose-room > div > div:nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #081F32;
    opacity: 0.8;
}

.header-choose-room * {
    font-family: Roboto, sans-serif;
}

.header-choose-room > div::after {
    content: "";
    height: 32px;
    width: 2px;
    background: #9DACB8;
    opacity: .4;
    position: absolute;
    right: -25px;
    top: 25%;
}

/* END HEADER STYLES */

/* START MAIN STYLES */

.main {
    max-width: 2000px;
    margin: 0 auto;
    width: 100%;
}

.main-dream-holidays {
    margin: 200px 41px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-dream-holidays * {
    font-family: Roboto, sans-serif;
}

.main-dream-holidays-right {
    margin-left: 98px;
}

.main-dream-holidays-right-title {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #1B75BB;
    opacity: .8;
}

.main-dream-holidays-right-description {
    margin-bottom: 30px;
    width: 64%;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
    font-family: Gelasio, sans-serif;
}

.main-dream-holidays-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-dream-holidays-left::after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #fff;
    border-radius: 50px;
    background-image: url("../images/play-btn.svg");
    background-position: 40px center;
    background-size: initial;
    background-repeat: no-repeat;
    cursor: pointer;
    transform: scale(1);
    transition: all .4s;
}

.main-dream-holidays-left:hover::after {
    transform: scale(1.1);
    transition: all .4s;
}

.main-why-choose-block {
    text-align: center;
}

.main-why-choose {
    margin-bottom: 140px;
}

.main-why-choose-block * {
    font-family: Gelasio, sans-serif;
}

.main-why-choose-advantage-description {
    font-family: Roboto, sans-serif;
}

.main-why-choose-advantages-block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.main-why-choose-advantage-icon {
    max-width: 74px;
    margin: 0 auto 41px;
}

.main-why-choose-title {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
}

.main-why-choose-description {
    width: 73%;
    margin: 0 auto 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #081F32;
    opacity: 0.6;
    font-family: Roboto, sans-serif;
}

.main-why-choose-advantage {
    flex: 1;
    margin: 0 15px;
    padding: 21px 17px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 4px 30px rgb(199 199 199 / 15%);
    border-radius: 5px;
}

.main-why-choose-advantage-title {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #000;
}

.main-why-choose-advantage-description {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    text-align: center;
    color: #081F32;
    opacity: 0.6;
}

/* START MAIN STYLES */