/* Подключение шрифтов */

@font-face {
    font-family: Gelasio;
    src: url("../fonts/Gelasio/Gelasio-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-medium";
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

/* CSS Reset styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* CSS Reset styles */
