/* Подключение шрифтов */

@font-face {
    font-family: Gelasio;
    src: url("../fonts/Gelasio/Gelasio-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-medium";
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

/* CSS Reset styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* CSS Reset styles */

.container {
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    padding: 0 30px;
    margin: 0 auto;
}

.default-button {
    display: block;
    width: max-content;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #1B75BB;
    border-radius: 5px;
    border: 1px solid #1B75BB;
    transition: all .3s;
}

.default-button:hover {
    color: #1B75BB;
    background-color: #fff;
    transition: all .3s;
}

/* START HEADER STYLES */

.header {
    background-image: url("../images/header-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header * {
    font-family: Gelasio, sans-serif;
    font-size: 16px;
}

.header .header-top {
    margin-bottom: 78px;
}

.header .header-top,
.header .header-left-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-nav {
    width: 100%;
}

.header .header-nav-link {
    font-size: 16px;
    padding: 10px 20px;
    line-height: 150%;
    color: #081F32;
    opacity: 0.7;
    text-decoration: none;
    transition: all .3s;
}

.header .header-nav-link:hover {
    color: #1B75BB;
    opacity: 1;
    transition: all .3s;
}

.header .header-subtitle {
    margin-bottom: 15px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1B75BB;
    opacity: 0.8;
}

.header .read-more {
    font-family: Roboto, sans-serif;
}

.header .header-title {
    margin-bottom: 25px;
    font-family: Gelasio, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 57px;
    line-height: 120%;
    color: #081F32;
}

.header .header-description {
    margin-bottom: 30px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #081F32;
    opacity: 0.6;
}

.header .header-title span {
    font-family: 'Gelasio', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 57px;
    line-height: 120%;
    color: #1B75BB;
}

.header-choose-room {
    position: relative;
    top: 60px;
    left: -35px;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 24px 49px;
    background: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(35px);
    border-radius: 10px;
}

.header-choose-room > div {
    position: relative;
    margin-right: 56px;
}

.header-choose-room > div > div:first-child {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #081F32;
}

.header-choose-room > div > div:nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #081F32;
    opacity: 0.8;
}

.header-choose-room * {
    font-family: Roboto, sans-serif;
}

.header-choose-room > div::after {
    content: "";
    height: 32px;
    width: 2px;
    background: #9DACB8;
    opacity: .4;
    position: absolute;
    right: -25px;
    top: 25%;
}

/* END HEADER STYLES */

/* START MAIN STYLES */

.main {
    max-width: 2000px;
    margin: 0 auto;
    width: 100%;
}

.main-dream-holidays {
    margin: 200px 41px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-dream-holidays * {
    font-family: Roboto, sans-serif;
}

.main-dream-holidays-right {
    margin-left: 98px;
}

.main-dream-holidays-right-title {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #1B75BB;
    opacity: .8;
}

.main-dream-holidays-right-description {
    margin-bottom: 30px;
    width: 64%;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
    font-family: Gelasio, sans-serif;
}

.main-dream-holidays-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-dream-holidays-left::after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #fff;
    border-radius: 50px;
    background-image: url("../images/play-btn.svg");
    background-position: 40px center;
    background-size: initial;
    background-repeat: no-repeat;
    cursor: pointer;
    transform: scale(1);
    transition: all .4s;
}

.main-dream-holidays-left:hover::after {
    transform: scale(1.1);
    transition: all .4s;
}

.main-why-choose-block {
    text-align: center;
}

.main-why-choose {
    margin-bottom: 140px;
}

.main-why-choose-block * {
    font-family: Gelasio, sans-serif;
}

.main-why-choose-advantage-description {
    font-family: Roboto, sans-serif;
}

.main-why-choose-advantages-block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.main-why-choose-advantage-icon {
    max-width: 74px;
    margin: 0 auto 41px;
}

.main-why-choose-title {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
}

.main-why-choose-description {
    width: 73%;
    margin: 0 auto 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #081F32;
    opacity: 0.6;
    font-family: Roboto, sans-serif;
}

.main-why-choose-advantage {
    flex: 1;
    margin: 0 15px;
    padding: 21px 17px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 4px 30px rgb(199 199 199 / 15%);
    border-radius: 5px;
}

.main-why-choose-advantage-title {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #000;
}

.main-why-choose-advantage-description {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    text-align: center;
    color: #081F32;
    opacity: 0.6;
}

.main-hotel-gallery-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
}

.gallery-item {
    flex: 0 0 47%;
    max-width: 47%;
    padding-top: 17%;
    margin: 0 15px 23px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-hotel-gallery-room-lux {
    background-image: url("../images/lux.jpg");
}

.main-hotel-gallery-room-mini {
    background-image: url("../images/mini.jpg");
}

.main-hotel-gallery-room-stande {
    background-image: url("../images/stande.jpg");
}

.main-hotel-gallery-room-single {
    background-image: url("../images/single.jpg");
}

.main-hotel-gallery-room-elite {
    background-image: url("../images/elite.jpg");
}

.main-hotel-gallery-room-info-block {
    display: flex;
    padding: 22px 19px;
    width: max-content;
    background: rgba(226, 226, 226, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.main-hotel-gallery-information.gallery-item p,
.main-hotel-gallery-room-right {
    font-family: Roboto, sans-serif;
}

.main-hotel-gallery-room-left {
    font-size: 14px;
    line-height: 160%;
    color: #081F32;
    opacity: 0.8;
}

.main-hotel-gallery-room-left * {
    font-family: Gelasio, sans-serif;
}

.main-hotel-gallery-room-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #081F32;
}

.main-hotel-gallery-room-right {
    width: max-content;
    margin-left: 13px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2.3;
    color: #081F32;
    opacity: 0.8;
}

.main-hotel-gallery-room-right .room-price {
    font-weight: 500;
    font-size: 14px;
}

.main-hotel-gallery-information {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-hotel-gallery-information h2 {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
}

.main-hotel-gallery-information.gallery-item p {
    width: 80%;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #081F32;
    opacity: 0.6;
}

.main-hotel-gallery {
    font-family: Roboto, sans-serif;
}

.main-client-reviews {
    margin: 140px 0;
}

.main-client-reviews-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.main-client-reviews-head h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
}

.main-client-reviews-head .main-client-reviews-view-all {
    font-size: 20px;
    line-height: 160%;
    font-family: Roboto, sans-serif;
}

.main-client-reviews-body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.main-client-review-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 28px 34px;
    transition: all .4s;
}

.main-client-review-item img {
    margin-bottom: 25px;
    max-width: 100px;
    opacity: 0.7;
    transition: all .4s;
}

.main-client-review-item blockquote {
    margin-bottom: 30px;
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #081F32;
    opacity: 0.7;
    transition: all .4s;
}

.main-client-review-item:hover {
    box-shadow: 0 4px 30px rgba(199, 199, 199, 0.25);
    transition: all .4s;
}

.main-client-review-item:hover img {
    opacity: 1;
    transition: all .4s;
}

.main-client-review-item blockquote::before {
    content: "";
    background: url(../images/quotation-marks.svg) no-repeat center;
    width: 24px;
    height: 20px;
    display: block;
    position: absolute;
    top: -30px;
    left: 0;
    transition: all .4s;
}

.main-client-review-item:hover blockquote::before {
    background: url(../images/quotation-marks-active.svg) no-repeat center;
}

.main-client-review-item * {
    font-family: Roboto, sans-serif;
}

.main-client-review-name {
    font-family: Gelasio, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #081F32;
    opacity: 0.7;
    transition: all .4s;
}

.main-client-review-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    color: #081F32;
    opacity: 0.7;
    transition: all .4s;
}

.main-client-review-item:hover * {
    opacity: 1;
    transition: all .4s;
}

.main-stay-in-touch-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-stay-in-touch {
    margin-bottom: 124px;
}

.main-stay-in-touch-title {
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.1em;
    color: #081F32;
    opacity: 0.8;
}

.main-stay-in-touch-description {
    margin-bottom: 50px;
    font-family: Gelasio, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    color: #081F32;
}

.main-stay-in-touch-subscribe {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 570px;
}

.main-stay-in-touch-submit {
    padding: 15px 40px;
    cursor: pointer;
    z-index: 2;
    font-family: "Poppins-medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
}

.main-stay-in-touch-email {
    display: flex;
    flex: 1;
    position: relative;
    padding: 15px 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    right: -5px;
    z-index: 1;
    font-family: "Poppins-medium", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #081f327d;
    outline: none;
    transition: all .4s;
}

.main-stay-in-touch-email::placeholder {
    color: #081f327d;
}

.main-stay-in-touch-email:focus,
.main-stay-in-touch-email:hover {
    border: 1px solid #1b75bb;
    box-shadow: 0 4px 30px rgb(199 199 199 / 25%);
    transition: all .4s;
}

.main-stay-in-touch-email:invalid:not(:placeholder-shown) {
    border-color: rgba(139, 0, 0, 0.75);
    transition: all .4s;
}

.main-stay-in-touch-email:valid:not(:placeholder-shown) {
    border-color: rgba(56, 161, 42, 0.75);
    transition: all .4s;
}

/* END MAIN STYLES */

/* START FOOTER STYLES */

.footer {
    padding: 78px 0 137px;
    background-color: #FCFCFD;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    width: 100%;
}

.footer-column.information {
    position: relative;
    top: -45px;
    max-width: 265px;
}

.footer-column.subscribe .main-stay-in-touch-block {
    position: relative;
    left: -5px;
}

.footer-logotype {
    display: block;
    max-height: 100px;
}

.footer-logotype img {
    position: relative;
    left: -20px;
}

.footer-column.information p {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    font-style: normal;
    font-family: "Poppins-medium", sans-serif;
    color: #081F32;
    opacity: 0.7;
}

.footer-mail {
    display: block;
    margin-bottom: 15px;
    font-weight: 400;
    font-family: "Poppins-medium", sans-serif;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #081F32;
    opacity: 0.7;
    transition: all .4s;
}

.footer-mail:hover {
    color: #1b75bb;
    opacity: 1;
    transition: all .4s;
}

.footer-socials {
    display: flex;
    gap: 28px;
}

.footer-socials > a {
    transition: all .4s;
}

.footer-socials > a:hover {
    box-shadow: 0 3px 31px rgb(0 0 0 / 32%);
    transform: scale(1.5);
    transition: all .4s;
}

.footer-column h3 {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #081F32;
    font-family: "Poppins-medium", sans-serif;
}

.footer-nav a {
    margin-bottom: 20px;
    display: block;
    font-family: "Poppins-medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #081F32;
    opacity: 0.7;
    text-decoration: none;
    transition: all .3s;
}

.footer-nav a:hover {
    color: #1b75bb;
    opacity: 1;
    transition: all .3s;
}

/* END FOOTER STYLES */

/* START RESPONSIVE STYLES */
@media all and (min-width: 1921px) {
    .container {
        max-width: 1600px;
    }
}

@media all and (max-width: 1160px) {
    .footer-block {
        gap: 10px;
    }

    .footer-column {
        max-width: 33%;
        width: 33%;
    }

    .footer-column.subscribe {
        width: 100%;
        max-width: 100%;
    }
}
@media all and (max-width: 1060px) {
    .gallery-item {
        margin: 0 10px 20px;
        padding-top: 20%;
        display: flex;
        height: 100%;
        align-self: self-end;
    }
}
@media all and (max-width: 992px) {
    .main-why-choose-advantages-block {
        justify-content: center;
    }

    .main-why-choose-advantage {
        flex: 0 0 47%;
        max-width: 47%;
        margin: 7px;
        padding: 15px;
    }

    .main-dream-holidays {
        flex-direction: column;
    }

    .main-dream-holidays-left {
        margin-bottom: 20px;
    }

    .main-dream-holidays-left::after {
        width: 80px;
        height: 80px;
    }

    .main-dream-holidays-right-title {
        font-size: 17px;
    }

    .main-dream-holidays-right-description {
        width: 100%;
    }

    .main-dream-holidays {
        margin: 170px 20px 60px;
    }

    .main-dream-holidays-left::after {
        background-position: 30px center;
    }

    .main-dream-holidays-right {
        margin-left: 0;
    }

    .main-why-choose {
        margin-bottom: -40px;
    }

    .main-hotel-gallery-information h2,
    .main-client-reviews-head h2 {
        font-size: 27px;
    }

    .main-hotel-gallery-information.gallery-item p {
        width: 100%;
        font-size: 16px;
    }

    .main-dream-holidays .default-button {
        align-self: center;
        margin: 0 auto;
    }

    .main-client-reviews-head .main-client-reviews-view-all {
        font-size: 14px;
    }

    .main-client-reviews {
        margin: 70px 0;
    }

    .footer-column {
        max-width: 25%;
        width: 25%;
    }

    .footer-mail {
        font-size: 12px;
    }
}

@media all and (max-width: 768px) {
    .header .header-top {
        margin-bottom: 100px;
    }
    
    .default-button {
        padding: 12px 20px;
        font-size: 14px;
    }
    .header-choose-room {
        top: 80px;
        left: 0;
        margin-left: auto;
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
    }

    .header-choose-room > div::after {
        content: "";
        position: absolute;
        top: 110%;
        left: 0;
        height: 2px;
        width: 100%;
        background: #9DACB8;
        opacity: .4;
    }

    .header-choose-room > div {
        width: 100%;
        margin: 0 0 20px;
    }

    .header-middle {
        text-align: center;
    }

    .read-more {
        margin: 0 auto;
    }

    .header .header-title,
    .header .header-title span {
        font-size: 42px;
        line-height: 120%;
    }

    .header .header-description {
        font-size: 16px;
    }

    .header .header-top,
    .header .header-left-content {
        flex-direction: column;
    }

    .header .header-nav {
        margin-bottom: 25px;
    }

    .main-client-review-item {
        margin: 8px;
        padding: 15px 22px;
    }

    .main-client-review-item blockquote {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .main-client-review-name,
    .main-stay-in-touch-title,
    .header .header-subtitle {
        font-size: 17px;
    }

    .main-client-review-link {
        font-size: 12px;
    }

    .main-stay-in-touch-description {
        font-size: 27px;
    }

    .footer {
        padding: 0 0 137px;
    }
}

@media all and (max-width: 700px) {
    .gallery-item {
        margin: 0 4px 8px;
    }
}
@media all and (max-width: 600px) {
    .main-why-choose-advantage,
    .gallery-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .gallery-item {
        margin: 0 0 15px;
    }

    .main-client-review-item {
        flex: 0 0 100%;
        margin: 0 0 15px;
        max-width: 100%;
    }

    .footer-column,
    .footer-column.information {
        max-width: 100%;
        width: 100%;
    }

    .footer-column, .footer-column.information {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-nav {
        text-align: center;
    }
}
@media all and (max-width: 500px) {
    .header .header-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media all and (max-width: 480px) {
    .main-client-reviews-head {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
    }

    .main-stay-in-touch .main-stay-in-touch-subscribe,
    .footer-column.subscribe .main-stay-in-touch-subscribe{
        flex-direction: column;
        gap: 10px;
    }

    .main-stay-in-touch .main-stay-in-touch-subscribe input,
    .footer-column.subscribe .main-stay-in-touch-subscribe input {
        right: 0;
    }

    .footer-column.subscribe .main-stay-in-touch-block {
        left: 0;
    }

    .main-stay-in-touch-submit.default-button {
        align-self: center;
    }
}

/* END RESPONSIVE STYLES */
